parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - vendor
        - node_modules
    ignoreErrors:
        # WordPress specific functions that PHPStan doesn't know about
        - '#Function [a-zA-Z0-9\\_]+ not found#'
        - '#Constant [A-Z_]+ not found#'
    checkMissingIterableValueType: false
